html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*ddddddddddddddddddddddddddddddddddddddddddddddddd*/

nav {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003B95;
    color: white;
    height: 60px;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 4px;
    font-size: 24px;
}

nav ul li a :hover {
    background-color: #1A4FA0;
}

nav ul li a button {
    border:none;
    border-radius: 10%;
    width: 115px;
    height: 50px;
    background-color: #003B95;
    border-radius:10%;
    margin-top:5px;
    color:#FFFFFF;
}

nav ul li a {
    text-decoration: none;
}

/*loginnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/
/*form {
    border-radius: 4px;
    border: 1px solid #dedede;
    width: 27%;
    margin: auto;
    padding: 0px 20px;
    text-align: left;
    min-width: 300px;
}

label {
    margin: 10px 0px;
}

input::placeholder {
    color: #b1b0b0;
    font-size: 15px;
}

div {
    text-align: center;
    width: 100%;
}

.btn {
    margin: 5px auto;
    width: 95%;
    border-width: 1px;
    height: 30px;
    border: 1px solid #b79033;
    background: linear-gradient( #fde7ae,#f3c451);
    font-size: 16px;
}

    .btn:hover {
        background: linear-gradient( #f5e5bc,#eec660);
    }

.s {
    height: 25px;
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    font-size: 15px;
}

.text, a {
    font-size: 16px;
}

a {
    display: inline;
}

@media only screen and (max-width: 768px) {
    form {
        width: 90%;
        font-size: 60px;
    }
}

.g {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="date"] {
    background-color: #f3c451;
    border: none;
    padding: 15px;
}

.list {
    height: 20px;
}

.myform {
    display: none;
}*/